vsim.wlf
work
.*
FEB_Fpga_A.bgn
FEB_Fpga_A.bit
FEB_Fpga_A.bld
FEB_Fpga_A.cmd_log
FEB_Fpga_A.drc
FEB_Fpga_A.lso
FEB_Fpga_A.ncd
FEB_Fpga_A.ngc
FEB_Fpga_A.ngd
FEB_Fpga_A.ngr
FEB_Fpga_A.pad
FEB_Fpga_A.par
FEB_Fpga_A.pcf
FEB_Fpga_A.prj
FEB_Fpga_A.ptwx
FEB_Fpga_A.stx
FEB_Fpga_A.syr
FEB_Fpga_A.twr
FEB_Fpga_A.twx
FEB_Fpga_A.unroutes
FEB_Fpga_A.ut
FEB_Fpga_A.xpi
FEB_Fpga_A.xst
FEB_Fpga_A_envsettings.html
FEB_Fpga_A_guide.ncd
FEB_Fpga_A_map.map
FEB_Fpga_A_map.mrp
FEB_Fpga_A_map.ncd
FEB_Fpga_A_map.ngm
FEB_Fpga_A_map.xrpt
FEB_Fpga_A_ngdbuild.xrpt
FEB_Fpga_A_pad.csv
FEB_Fpga_A_pad.txt
FEB_Fpga_A_par.xrpt
FEB_Fpga_A_summary.html
FEB_Fpga_A_summary.xml
FEB_Fpga_A_usage.xml
FEB_Fpga_A_xst.xrpt
SBND_FEB.gise
_ngo/
_xmsgs/
iseconfig/FEB_Fpga_A.xreport
iseconfig/SBND_FEB.projectmgr
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
